/.env
/data/

id_to_shard.csv


#tex files (include any files in build folders)
build/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.run.xml
*.bcf
.DS_Store
saved_model/
saved_model.zip
example_paper_reports/
new_saved_model/
new_saved_model.zip