/.env
/data/

id_to_shard.csv


#tex files (include any files in build folders)
build/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.run.xml
*.bcf
.DS_Store
saved_model_t_0_25/
example_paper_reports/
saved_model_t_0_45
*.zip
example_paper.predictions.json